body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
          
}

h1 {
    color: #333;
    font-size: 24px;
}

h2 {
    color: #4CAF50; /* Mudando a cor para algo mais vibrante */
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold; /* Deixando o texto mais forte */
    text-transform: uppercase; /* Deixando o texto em maiúsculas */
    border-bottom: 2px solid #4CAF50; /* Adicionando uma linha abaixo para destacar */
    padding-bottom: 5px; /* Espaçamento entre o texto e a linha */
}

.produto {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
